*{
  box-sizing: border-box ;
}

header{
  background-color: darkgreen;
  text-align: center;
  letter-spacing: 5px;
  margin: 20px;
}

.header-ul{
  list-style: none;
  padding: 20px;
  
}

.header-ul>li:first-child{
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: overline;
}

.header-ul>li:nth-of-type(3n){
  color: lawngreen;
  text-decoration-line:underline;
  text-decoration-style: dotted;

}
.header-ul>li:nth-of-type(4){
  text-decoration: line-through red;
}

.div{
  width: 25%;
  text-align: left;
}

.div-title{
  font-size: 1.2rem;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.format1{
  border: 5px dashed black;
}

.format2{
  border: 5px dotted black;
}

.div>.div-title~p{
  text-indent: 20px;
  padding: 10px;
}

.yellow{
  background: yellow;
  margin-left: 5%;
}

.green{
  background-color: darkolivegreen;
  margin-left: 65%;
}

.purple{
  background: purple;
  margin-left: 20%;
}

.red{
  background: red;
  margin-left: 55%;
}
/* Сделать текст для дивов и хедера */