*{
  box-sizing: border-box ;
}

header{
  background-color: darkgreen;
  text-align: center;
  height: 20vh;
  margin: 20px;
}

.header-ul{
  list-style: none;
  padding: 20px;
  
}
li:first-child{
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: overline;
}
li:nth-of-type(3n){
  color: lawngreen;
  text-decoration-line:underline;
  text-decoration-style: dotted;

}
li:nth-of-type(4n){
  text-decoration: line-through red;
}

.format{
  border: 5px dashed black;
  width: 30%;
  text-align: center;
}

.yellow{
  background: yellow;
}

.green{
  background: green;
}

.purple{
  background: purple;
}

.red{
  background: red;
}
